# Python venv
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Build & dist
build/
dist/
*.spec

# Logs & temp
*.log
output/
tmp/

# Excel files
*.xlsm

# IDE / OS
.vscode/
.ideas/
.idea/
.DS_Store
Thumbs.db
.ideas/

# Env / secrets
.env
*.env

# Project specific
Production Manager.spec

backup/
dist_local/